# NSC-Electron .gitignore

node_modules/
local-backend/node_modules/
renderer/
release/
dist/

# Logs
*.log
npm-debug.log*

# Local environment
local-backend/.env.local.override

# OS
.DS_Store
Thumbs.db

# MongoDB Bundled Binary
mongodb-bin/*
!mongodb-bin/README.md
