# For .env file
VITE_APP_NAME=NSC
VITE_APP_NAME=Naresh_Saree_Collection
# NODE_ENV=development
NODE_ENV=production
# VITE_API_BASE_URL=http://localhost:5000
VITE_API_BASE_URL=your_backend_url

# For .env.development file
VITE_API_BASE_URL=http://localhost:5000
NODE_ENV=development

# For .env.production file
VITE_API_BASE_URL=your_backend_url